
@{
    ViewBag.Title = "Contact";
}

<div class="badge">Make an ingredient</div>
<div class="badge">Fill out form:</div>

    <div class="form-group">
       
        <label for="exampleFormControlInput1">Category:</label>
        @Html.DropDownList("Category", null, new { @class = "form-control" })

        <label for="exampleFormControlInput2">Station:</label>
        @Html.DropDownList("Station", null, new { @class = "form-control" })

        <label for="exampleFormControlInput3">Staff:</label>
        @Html.DropDownList("Staff", null, new { @class = "form-control" })

        <label for="exampleFormControlInput4">Status:</label>
        @Html.DropDownList("stats", null, new { @class = "form-control" })

        <label for="exampleFormControlInput5">Ingredient:</label>
        @Html.TextBox("text","Enter ingredient", new { @class = "form-control" })

        <label for="exampleFormControlInput6">Spec:</label>
        @Html.TextBox("textspec","Enter Specs", new { @class = "form-control" })

      <br />
        <button class="btn btn-primary">submit</button>
       
    </div>
